@model Trabalho_Linguagem_Programacao_.NET.Models.Produto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalhes </h1>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="row" style="font-size: 20px">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.categoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.preco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.preco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.qtde_estoque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.qtde_estoque)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">
        <input type="submit" value="Editar" class="btn btn-primary" />
    </a>
    
    <a asp-action="Index">
        <button type="button" class="btn btn-info">Voltar</button>
        </a>
</div>
