@model Trabalho_Linguagem_Programacao_.NET.Models.Movimentacao

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Excluir</h1>    

<div>
    <h4>Movimentacao</h4>
    <hr />
    <dl class="row" style="font-size: 20px">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.produto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.produto.nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.quantidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.quantidade)
        </dd>
        <dt class="col-sm-2">
            Cliente/Fornecedor
        </dt>
        <dd class="col-sm-10">
            @if (Model.tipo == Tipo.Entrada && Model.fornecedor != null)
            {
                @Html.DisplayFor(model => model.fornecedor.nome)
            }
            else if (Model.tipo == Tipo.Saida && Model.cliente != null)
            {
                @Html.DisplayFor(model => model.cliente.nome)
            }
            else
            {
                <span>Nenhum cliente/fornecedor</span>
            }
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descricao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" />
        <a asp-action="Index">
            <button type="button" class="btn btn-info">Voltar</button>
        </a>
    </form>
</div>
